body {
    font-size: 100%;
}

.ground {
    background-color: hsla(0,0%,0%,.1);
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%),
                      -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%);
    background-size: 3em 3em;
    box-shadow: 0 0 0 .1em hsla(0,0%,0%,.2);
    width: 9em;
    height: 9em;
    left: 50%;
    margin: -7.5em;
    position: absolute;
    top: 50%;
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    -webkit-transform-style: preserve-3d;
}

.tile.blue {
    background-color: #0098a6;
    width: .7em;
    height: 1em;
    position: absolute;
}

.tile.blue.right {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.tile.blue.left {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tile.blue.corner {
    border-radius: 5px;
}

.bus,
.bus:before,
.bus:after,
.bus .shadow {
    -webkit-transition: .25s;
}

/* Top */
.bus {
    background: url(../imgs/bus-top.png) 0px 6px no-repeat;
    background-size: 89px 27px;
    position: relative;
    content: '';
    float: left;
    height: 2em;
    width: 6em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/* Left */
.bus:after {
    background: url(../imgs/bus-left.png) 3px 0 no-repeat;
    background-size: 32px 65px;
    content: '';
    float: left;
    height: 4em;
    position: absolute;
    width: 2em;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateX(-2em) translateY(4em) translateZ(2em);
    -webkit-transform-origin: 100% 100%;
}

/* Right */
.bus:before {
    background: url(../imgs/bus-right.png) -1px 0 no-repeat;
    background-size: 96px 65px;
    content: '';
    float: left;
    height: 4em;
    position: absolute;
    width: 6em;
    -webkit-transform: rotateX(-90deg) translateZ(2em);
    -webkit-transform-origin: 0 0;
}

.bus .shadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    position: absolute;
    content: '';
    float: left;
    height: 3em;
    width: 7em;
}