body {
    font-size: 100%;
    background-image: radial-gradient(#fffefa, #ecebe7);
}

.ground {
    width: 320px;
    height: 640px;
    left: 50%;
    margin-top: -320px; /* same as width */
    margin-left: -160px; /* half the width */
    position: absolute;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s linear;
            transition: 1s linear;
}

.square {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: hsla(0,0%,0%,.1);
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1) 5%, transparent 5%, transparent 95%, hsla(0,0%,0%,.1) 95%),
                      -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 5%, transparent 5%, transparent 95%, hsla(0,0%,0%,.1) 95%);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.line {
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 16px; /* Line segment size */
}

.line.blue {
    background-color: #0098a5;
}

.line.blue:hover {
    background-color: #32c0cd;
}

.line.green {
    background-color: #016531;
}

.line.red {
    background-color: #e0001a;
}

.bus,
.bus:before,
.bus:after,
.bus .shadow {
    -webkit-transition: .25s;
}

/* Top */
.bus {
    background: url(../imgs/bus-texture.png) -67px -55px no-repeat;
    background-size: 232px 145px;
    position: absolute;
    content: '';
    float: left;
    height: 32px;
    width: 96px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/* Left */
.bus:after {
    background: url(../imgs/bus-texture.png) -34px -101px no-repeat;
    background-size: 232px 165px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 32px;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateX(-2em) translateY(4em) translateZ(2em);
    -webkit-transform-origin: 100% 100%;
}

/* Right */
.bus:before {
    background: url(../imgs/bus-texture.png) -67px -89px no-repeat;
    background-size: 232px 154px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 96px;
    -webkit-transform: rotateX(-90deg) translateZ(2em);
    -webkit-transform-origin: 0 0;
}

.bus .shadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    position: absolute;
    content: '';
    float: left;
    height: 48px;
    width: 112px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/* Left */
.bus .shadow:after {
    background: url(../imgs/bus-texture.png) -167px -107px no-repeat;
    background-size: 232px 173px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 32px;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateX(-1.2em) translateZ(-4.8em);
    -webkit-transform-origin: 100% 100%;
}

/* Right */
.bus .shadow:before {
    background: url(../imgs/bus-texture.png) -69px -5px no-repeat;
    background-size: 232px 189px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 96px;
    -webkit-transform: rotateX(-90deg) translateY(-2em) translateZ(-1.2em) translateX(0.8em);
}