body {
    font-size: 100%;
}

.ground {
    background-color: hsla(0,0%,0%,.1);
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%),
                      -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%);
    background-size: 48px 48px;
    box-shadow: 0 0 0 .1em hsla(0,0%,0%,.2);
    width: 287px;
    height: 240px;
    left: 50%;
    margin: -120px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    -webkit-transform-style: preserve-3d;
}

.tile.blue {
    background-color: #0098a6;
    width: .7em;
    height: 1em;
    position: absolute;
}

.tile.blue.right {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.tile.blue.left {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tile.blue.corner {
    border-radius: 5px;
}

.bus,
.bus:before,
.bus:after,
.bus .shadow {
    -webkit-transition: .25s;
}

/* Top */
.bus {
    background: url(../imgs/bus-texture.png) -67px -55px no-repeat;
    background-size: 232px 145px;
    position: absolute;
    content: '';
    float: left;
    height: 32px;
    width: 96px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/* Left */
.bus:after {
    background: url(../imgs/bus-texture.png) -34px -101px no-repeat;
    background-size: 232px 165px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 32px;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateX(-2em) translateY(4em) translateZ(2em);
    -webkit-transform-origin: 100% 100%;
}

/* Right */
.bus:before {
    background: url(../imgs/bus-texture.png) -67px -89px no-repeat;
    background-size: 232px 154px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 96px;
    -webkit-transform: rotateX(-90deg) translateZ(2em);
    -webkit-transform-origin: 0 0;
}

.bus .shadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    position: absolute;
    content: '';
    float: left;
    height: 48px;
    width: 112px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/* Left */
.bus .shadow:after {
    background: url(../imgs/bus-texture.png) -167px -107px no-repeat;
    background-size: 232px 173px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 32px;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateX(-1.2em) translateZ(-4.8em);
    -webkit-transform-origin: 100% 100%;
}

/* Right */
.bus .shadow:before {
    background: url(../imgs/bus-texture.png) -69px -5px no-repeat;
    background-size: 232px 189px;
    content: '';
    float: left;
    height: 64px;
    position: absolute;
    width: 96px;
    -webkit-transform: rotateX(-90deg) translateY(-2em) translateZ(-1.2em) translateX(0.8em);
}